* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    position: relative;

    /* display: -ms-grid; */
    display: grid;
    background-color: #161451;
    margin: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .the-pop-upD {
    display: none;
  }

  .the-pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.16);
    height: 100%;
    border: 2px rgba(213, 204, 204, 0.765) solid;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 100;
    margin: 3%;
  }

  .the-pop-up #x-mark {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-self: flex-end;
    color: #fff;
    margin-top: 4%;
    margin-right: 4%;
    font-size: x-large;
  }

  .the-pop-up .p-topic {
    position: relative;
    color: #fcfcfc;
    padding: 1% 4%;
    margin-top: -5%;
    padding-top: 1%;
    font-size: 4vh;
  }

  .the-pop-up .snapshoot {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-self: center;
    width: 100%;
    padding: 1% 4%;
  }

  .the-pop-up .description {
    position: relative;
    color: rgba(252, 252, 252, 0.611);
    padding: 0 4%;
    text-align: center;
  }

  .the-pop-up .skiil {
    padding: 0 5%;
    position: relative;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    margin-top: 10%;
    height: 40%;
    margin-left: 5%;
  }

  .the-pop-up .skiil .vecto {
    position: relative;
    color: rgba(255, 255, 255, 0.51);
    background-color: rgba(228, 226, 226, 0.51);
    width: 0.5%;
    height: 40px;
    margin: 0 4.5%;
  }

  .the-pop-up .btncontainer {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5%;
  }

  .the-pop-up .btncontainer .bt1 {
    background-color: #9390ff;
    color: #fff;
    width: 20%;
    margin-top: 2%;
    border: none;
    margin-left: 5%;
    font-size: 70%;
    height: 40px;
  }

  .the-pop-up .btncontainer .bt2 {
    background-color: #9390ff;
    color: #fff;
    width: 25%;
    margin-top: 2%;
    border: none;
    margin-left: 5%;
    font-size: 70%;
    height: 40px;
  }

  .main-page {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .heading-Mob {
    padding: 20px;
    position: relative;

    /* display: -ms-grid; */
    display: grid;
  }

  .heading-Des {
    display: none;
  }

  .logo {
    -ms-grid-column: 1;
    grid-column: 1;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }

  nav {
    -ms-grid-column: 2;
    grid-column: 2;
    margin-left: auto;
    margin-right: 0;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
  }

  .hamburger .bar,
  .hamburger::after,
  .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .hamburger.is-active::before {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .hamburger.is-active::after {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .pop-up {
    display: none;
  }

  .pop-up .pop-head {
    -ms-grid-row: 1;
    grid-row: 1;
    position: relative;

    /* display: -ms-grid; */
    display: grid;
    background-image: url("/images/pop-background1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 150%;
    background-position-y: bottom;
  }

  .pop-up .pop-head .line-one {
    position: relative;
    -ms-grid-column: 1;
    grid-column: 1;

    /* display: -ms-grid; */
    display: grid;
    margin: 5%;
  }

  .pop-up .pop-head .line-one .lo {
    -ms-grid-column: 1;
    grid-column: 1;
    color: #191765;
  }

  .pop-up .pop-head .line-one nav {
    -ms-grid-column: 2;
    grid-column: 2;
    margin-left: auto;
    margin-right: 0;
  }

  .pop-up .pop-head .linkss {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 5%;
  }

  .pop-up .pop-head .linkss .each-link {
    position: relative;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .pop-up .pop-head .linkss .each-link .links {
    font-size: 140%;
    margin-bottom: 8%;
    color: white;
    text-decoration: none;
  }

  .pop-up .pop-head .linkss .each-link i {
    margin-top: 2%;
    font-size: 140%;
    margin-right: 15%;
    color: #7f89f3;
  }

  .pop-up .lor {
    -ms-grid-row: 2;
    grid-row: 2;
    background-image: url("/images/pop-background2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 2000%;
  }

  .D-nav {
    display: none;
  }

  .intro {
    color: #7f89f3;
    text-align: center;
    font-size: 30px;
  }

  .title {
    color: #d3caca;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }

  .about {
    color: #c8c4c4;
    text-align: center;
    margin: 40px 30px;
    font-size: 15px;
    line-height: 25px;
  }

  .after-about {
    position: relative;
    width: 90%;
    height: 1.1px;
    background-color: #3a3837;
    color: #05082e;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5%;
  }

  .languages-skills-frameworks {
    position: relative;

    /* display: -ms-grid; */
    display: grid;

    /* -ms-grid-columns: (1fr) [2]; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 10%;
  }

  .languages {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
  }

  .skills {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
  }

  .frameworks {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
  }

  .word {
    color: #cacdcd;
    margin: 10px 0;
    font-size: 13px;
  }

  li {
    list-style: none;
  }

  .group {
    position: relative;
    color: #7f89f3;
    bottom: 10px;
  }

  .icon-work {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .icons {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    font-size: 120%;
    margin: 30px;
  }

  .github-icon {
    margin: 0 8px;
  }

  .linkedIn-icon {
    margin: 0 8px;
  }

  .peace-icon {
    margin: 0 8px;
  }

  .twitter-icon {
    margin: 0 8px;
  }

  .M-icon {
    margin: 0 8px;
  }

  .work-down-arrow-D {
    display: none;
  }

  .work-down-arrow {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    color: #a3a0ea;
  }

  .icon {
    padding-left: 38%;
  }

  .wor {
    text-align: center;
    margin-left: 10%;
  }

  .title-work {
    color: #413cc6;
    font-size: 150%;
    margin-left: 5%;
    margin-top: 80px;
  }

  .title-work-D {
    display: none;
  }

  .line {
    position: relative;
    background-color: #272a2a;
    height: 1px;
    width: 90%;
    color: #3a3837;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .image {
    position: relative;
    background-color: #f3f3f3;
    min-height: 150px;
    min-width: 90%;
    margin: 10% 5%;
    border: 1px solid #646369;
  }

  h3 {
    color: white;
    font-weight: 600;
    margin-bottom: 8%;
    margin-left: 5%;
  }

  .text {
    color: #e3dfdf;
    font-size: 103%;
    margin-right: 5%;
    line-height: 125%;
    margin-left: 5%;
  }

  .skil {
    position: relative;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    margin-top: 10%;
    height: 40%;
    margin-left: 5%;
  }

  .vector {
    position: relative;
    color: #030368;
    background-color: #3a3837;
    width: 0.5%;
    height: 40px;
    margin-left: 5%;
  }

  .skill {
    position: relative;
    color: #dddbdb;
    list-style: none;
    margin: 1% 4%;
    text-align: center;
    margin-left: 5%;
  }

  .work1-D {
    display: none;
  }

  .work2-D {
    display: none;
  }

  .work-M {
    /* display: -ms-grid; */
    display: grid;
    -ms-grid-row: 2;
    grid-row: 2;
    background-image: url("Ellipse19@2x.png");
  }

  .btn {
    background-color: #9390ff;
    color: #fff;
    width: 25%;
    margin-top: 10%;
    border: none;
    margin-left: 5%;
    font-size: 70%;
    height: 40px;
  }

  .footer {
    /* display: -ms-grid; */
    display: grid;
  }

  .contact-M {
    /* display: -ms-grid; */
    display: grid;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .contact-D {
    display: none;
  }

  .conta {
    color: #9390ff;
    text-align: center;
    margin-left: -5%;
    margin-top: 15%;
    font-size: 200%;
  }

  .cont-text {
    color: #e3dfdf;
    font-size: 103%;
    margin: 10%;
    line-height: 125%;
    text-align: center;
  }

  form {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5%;
  }

  ::-webkit-input-placeholder {
    color: #3a3837;
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  :-ms-input-placeholder {
    color: #3a3837;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  input:focus,
  textarea:focus {
    color: #191765;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #name {
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 17px;
  }

  #mail {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 30px;
    font-size: 17px;
  }

  #msg {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    font-size: 17px;
  }

  #bttn {
    background-color: #9390ff;
    color: #fff;
    position: relative;
    width: 25%;
    margin-top: 10%;
    border: none;
    margin-left: 38%;
    font-size: 70%;
    height: 40px;
  }

  .cont-line {
    position: relative;
    background-color: #272a2a;
    height: 2px;
    width: 100%;
    margin-top: 15%;
  }

  .icons-M {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    list-style: none;
    margin-top: 10px;
  }

  .my-mail {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .feet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body {
    position: relative;

    /* display: -ms-grid; */
    display: grid;
    background-color: #191765;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .the-pop-up {
    display: none;
  }

  .the-pop-upD {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    border: 2px rgba(213, 204, 204, 0.765) solid;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.285);
    margin: 0.6% 10%;
  }

  .the-pop-upD #x-markD {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-self: flex-end;
    color: #fff;
    margin-top: 0.5%;
    margin-right: 4%;
    font-size: x-large;
  }

  .the-pop-upD .p-topicD {
    position: relative;
    color: #fcfcfc;
    padding: 0 4%;
    font-size: 3vh;
  }

  .the-pop-upD .snapshootD {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-self: center;
    width: 100%;
    height: 80%;
    padding-top: 0.5%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .the-pop-upD .backgimage {
    position: absolute;
    left: -10%;
    top: 5%;
    z-index: -100;
    -webkit-filter: blur(20px) brightness(90%);
    filter: blur(20px) brightness(90%);
  }

  .the-pop-upD .backgimage img {
    height: 50%;
    width: 50%;
  }

  .the-pop-upD .backgimg {
    position: absolute;
    right: -30%;
    top: 40%;
    left: auto;
    z-index: -100;
    -webkit-filter: blur(20px) brightness(90%);
    filter: blur(20px) brightness(90%);
  }

  .the-pop-upD .backgimg img {
    height: 50%;
    width: 50%;
  }

  .the-pop-upD .descriptionD {
    position: relative;
    color: rgba(252, 252, 252, 0.611);
    padding: 0 4%;
    text-align: center;
    margin-top: -8.3%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2vh;
  }

  .the-pop-upD .skillingD {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
  }

  .the-pop-upD .skillingD .skiil2 {
    position: relative;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    margin-top: 0.5%;
    height: 30%;
    width: 44%;
  }

  .the-pop-upD .skillingD .skiil2 .vecto2 {
    position: relative;
    color: rgba(255, 255, 255, 0.51);
    background-color: rgba(228, 226, 226, 0.51);
    width: 0.5%;
    height: 30px;
    margin: 0 6%;
  }

  .the-pop-upD .btncontainerD {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-items: center;
    margin-bottom: 0;
    margin-left: 30%;
    margin-top: 0.5%;
  }

  .the-pop-upD .btncontainerD .bt1D {
    background-color: #9390ff;
    color: #fff;
    width: 20%;
    margin-top: 0.5%;
    border: none;
    margin-left: 5%;
    font-size: 70%;
    height: 40px;
  }

  .the-pop-upD .btncontainerD .bt2D {
    background-color: #9390ff;
    color: #fff;
    width: 25%;
    margin-top: 0.5%;
    border: none;
    margin-left: 5%;
    font-size: 70%;
    height: 40px;
  }

  .main-page {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #pops {
    display: none;
  }

  .heading-Des {
    display: -ms-grid;
    display: grid;
    position: relative;
    padding: 1% 10%;
  }

  .heading-Mob {
    display: none;
  }

  .logo {
    display: none;
  }

  .logo-D {
    -ms-grid-column: 1;
    grid-column: 1;
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    font-size: 120%;
  }

  nav {
    display: none;
    color: white;
    margin-left: auto;
    margin-right: 0;
  }

  .D-nav {
    -ms-grid-column: 2;
    grid-column: 2;
    position: relative;
    margin-left: auto;
  }

  .D-portfolio,
  .D-about,
  .D-contact,
  .D-envelop {
    margin: 0 8px;
    color: #f1f8fd;
    font-weight: 500;
    text-decoration: none;
    font-size: 120%;
  }

  .heading-liner {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url(/images/left-skills.png);
  }

  .intro {
    color: #7f89f3;
    text-align: center;
    font-size: 500%;
    font-weight: 500;
    margin-top: 10%;
    margin-bottom: 3%;
  }

  .title {
    color: #d3caca;
    font-size: 400%;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
  }

  .about {
    color: #c8c4c4;
    text-align: center;
    margin: 150px 30%;
    font-size: 200%;
    font-weight: 300;
    line-height: 40px;
  }

  .after-about {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 25%;
    height: 1.1px;
    background-color: #3a3837;
    color: #05082e;
  }

  .languages-skills-frameworks {
    position: relative;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 20%;
    margin-right: 23%;
    background-image: url("Ellipse 19.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  .languages {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    font-size: 110%;
    margin: 0 10%;
  }

  .skills {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    font-size: 110%;
    margin: 0 10%;
  }

  .frameworks {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    font-size: 110%;
    margin: 0 10%;
  }

  .word {
    color: #cacdcd;
    margin: 10px 10%;
    font-size: 110%;
  }

  li {
    list-style: none;
  }

  .group {
    position: relative;
    color: #7f89f3;
    bottom: 10px;
  }

  .icon-work {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .github-icon {
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 0 8px;
    font-size: 30px;
  }

  .linkedIn-icon {
    -ms-grid-column: 2;
    grid-column: 2;
    margin: 0 8px;
    font-size: 30px;
  }

  .peace-icon {
    -ms-grid-column: 3;
    grid-column: 3;
    margin: 0 8px;
    font-size: 30px;
  }

  .twitter-icon {
    -ms-grid-column: 4;
    grid-column: 4;
    margin: 0 8px;
    font-size: 30px;
  }

  .M-icon {
    -ms-grid-column: 5;
    grid-column: 5;
    margin: 0 8px;
    font-size: 30px;
  }

  .work-down-arrow {
    display: none;
  }

  .work-down-arrow-D {
    /* display: -ms-grid; */
    display: grid;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    margin: 5% 0;
    color: azure;
  }

  .icon1 {
    margin-left: 5%;
    font-size: 20px;
    color: #989ca0;
  }

  .wor1 {
    font-weight: 300;
    font-size: 20px;
  }

  .wor-icon1 {
    -ms-grid-column: 1;
    grid-column: 1;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .icons {
    -ms-grid-column: 2;
    grid-column: 2;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    list-style: none;
    font-size: 30px;
  }

  .wor-icon2 {
    -ms-grid-column: 3;
    grid-column: 3;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .wor2 {
    margin-left: 34%;
    font-weight: 300;
    font-size: 20px;
  }

  .icon2 {
    font-size: 20px;
    color: #989ca0;
  }

  .title-work {
    display: none;
  }

  .title-work-D {
    color: #7f89f3;
    font-size: 300%;
    margin-left: 5%;
    margin-top: 80px;
  }

  .line {
    position: relative;
    background-color: #3a3837;
    height: 1px;
    width: 90%;
    color: #030368;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .work {
    /* display: -ms-grid; */
    display: grid;
  }

  .work-M {
    display: none;
  }

  .work1-D {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-image: url("Ellipse19@2x.png");
    margin: 8% 0;
  }

  .image {
    background-color: white;
    height: 119%;
    margin-left: 5%;
    width: 300%;
  }

  .story-D {
    margin-left: 1%;
  }

  .work2-D {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-image: url("Ellipse19@2x.png");
    margin: 8% 0;
  }

  .image2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    background-color: white;
    height: 119%;
    margin-left: 1%;
    margin-right: 5%;
    width: 300%;
  }

  .story-D-2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 5%;
  }

  .btn {
    background-color: #9390ff;
    color: #fff;
    width: 25%;
    margin-top: 1%;
    border: none;
    margin-left: 0;
    font-size: 70%;
    height: 40px;
  }

  h3 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 8%;
    margin-top: 20%;
  }

  .text {
    color: #e3dfdf;
    font-size: 120%;
    margin-right: 5%;
    line-height: 125%;
    margin-left: 0;
  }

  .vector {
    position: relative;
    color: #030368;
    background-color: #3a3837;
    width: 0.5%;
    height: 45px;
    margin: 0 2%;
  }

  .skill {
    position: relative;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    color: #dddbdb;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    margin: 1% 3%;
    text-align: center;
  }

  .footer {
    /* display: -ms-grid; */
    display: grid;
  }

  .contact-M {
    display: none;
  }

  .contact-D {
    /* display: -ms-grid; */
    display: grid;
    margin-top: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .conta {
    color: #9390ff;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: center;
    margin-left: -5%;
    font-size: 200%;
  }

  .cont-text {
    color: #e3dfdf;
    font-size: 103%;
    margin: 5% 22.5%;
    line-height: 125%;
    text-align: center;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  form {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5%;
    -ms-grid-row: 3;
    grid-row: 3;
    margin: 0 15%;
  }

  ::-webkit-input-placeholder {
    color: #3a3837;
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  :-ms-input-placeholder {
    color: #3a3837;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  input:focus,
  textarea:focus {
    color: #191765;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #name-D {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 40px;
    font-size: 17px;
  }

  #mail-D {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 40px;
    font-size: 17px;
  }

  #msg-D {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    font-size: 17px;
  }

  #bttn-D {
    background-color: #9390ff;
    color: #fff;
    position: relative;
    width: 25%;
    margin-top: 10%;
    border: none;
    margin-left: 38%;
    font-size: 90%;
    height: 40px;
  }

  .cont-line {
    -ms-grid-row: 4;
    grid-row: 4;
    position: relative;
    background-color: #3a3837;
    height: 2px;
    width: 100%;
    margin-top: 0;
  }

  .feet {
    /* display: -ms-grid; */
    display: grid;
    margin: 2% 0;
  }

  .my-mail {
    color: white;
    margin-left: 1%;
    font-size: 20px;
  }
}
