* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  animation: change-color 2s ease infinite alternate;
}

@keyframes change-color {
  0% {
    color: rgb(211, 202, 202);
  }

  100% {
    color: #d2320a;
  }
}

@media (max-width: 768px) {
  body {
    position: relative;
    display: grid;
    background-color: rgb(29, 29, 115);
    margin: 0;
    box-sizing: content-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .main-page {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .heading-Mob {
    padding: 20px;
    position: relative;
    display: grid;
  }

  .heading-Des {
    display: none;
  }

  .logo {
    grid-column: 1;
    color: aliceblue;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }

  nav {
    grid-column: 2;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: 0;
  }

  .D-nav {
    display: none;
  }

  .intro {
    color: #7f89f3;
    text-align: center;
    font-size: 30px;
  }

  .title {
    color: rgb(211, 202, 202);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }

  .about {
    color: rgb(200, 196, 196);
    text-align: center;
    margin: 40px 30px;
    font-size: 15px;
    line-height: 25px;
  }

  .after-about {
    position: relative;
    width: 90%;
    height: 1.1px;
    background-color: rgb(39, 42, 42);
    color: rgb(5, 8, 46);
    align-items: center;
    margin-left: 5%;
  }

  .languages-skills-frameworks {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    left: 10%;
    background-image: url("Ellipse 19.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  .languages {
    flex: 1;
    position: relative;
  }

  .skills {
    flex: 1;
    position: relative;
  }

  .frameworks {
    flex: 1;
    position: relative;
  }

  .word {
    color: rgb(202, 205, 205);
    margin: 10px 0;
    font-size: 13px;
  }

  li {
    list-style: none;
  }

  .group {
    position: relative;
    color: #7f89f3;
    bottom: 10px;
  }

  .icon-work {
    display: flex;
    flex-direction: column;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 120%;
    margin: 30px;
    size: 150%;
  }

  .github-icon {
    margin: 0 8px;
  }

  .linkedIn-icon {
    margin: 0 8px;
  }

  .peace-icon {
    margin: 0 8px;
  }

  .twitter-icon {
    margin: 0 8px;
  }

  .M-icon {
    margin: 0 8px;
  }

  .work-down-arrow-D {
    display: none;
  }

  .work-down-arrow {
    display: flex;
    align-self: center;
    color: rgb(163, 160, 234);
  }

  .icon {
    padding-left: 38%;
  }

  .wor {
    text-align: center;
    margin-left: 10%;
  }

  .title-work {
    color: #413cc6;
    font-size: 150%;
    margin-left: 5%;
    margin-top: 80px;
  }

  .title-work-D {
    display: none;
  }

  .line {
    position: relative;
    background-color: rgb(39, 42, 42);
    height: 1px;
    width: 90%;
    color: rgb(3, 3, 104);
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .image {
    position: relative;
    background-color: rgb(243, 243, 243);
    min-height: 150px;
    min-width: 90%;
    margin: 10% 5%;
    border: 1px solid #646369;
  }

  h3 {
    color: white;
    font-weight: 600;
    margin-bottom: 8%;
    margin-left: 5%;
  }

  .text {
    color: rgb(227, 223, 223);
    font-size: 103%;
    margin-right: 5%;
    line-height: 125%;
    margin-left: 5%;
  }

  .skil {
    position: relative;
    display: flex;
    margin-top: 10%;
    height: 40%;
    margin-left: 5%;
  }

  .vector {
    position: relative;
    color: rgb(3, 3, 104);
    background-color: rgb(84, 89, 87);
    width: 0.5%;
    height: 40px;
    margin-left: 5%;
  }

  .skill {
    position: relative;
    color: rgb(221, 219, 219);
    list-style: none;
    margin: 1% 4%;
    text-align: center;
    text-justify: center;
    margin-left: 5%;
  }

  .work1-D {
    display: none;
  }

  .work2-D {
    display: none;
  }

  .work-M {
    display: grid;
    grid-row: 2;
    background-image: url("Ellipse19@2x.png");
  }

  .btn {
    background-color: #9390ff;
    width: 25%;
    margin-top: 10%;
    border: none;
    margin-left: 5%;
    font-size: 70%;
    height: 40px;
  }

  .footer {
    display: grid;
  }

  .contact-M {
    display: grid;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .contact-D {
    display: none;
  }

  .conta {
    color: #9390ff;
    text-align: center;
    margin-left: -5%;
    margin-top: 15%;
    font-size: 200%;
  }

  .cont-text {
    color: rgb(227, 223, 223);
    font-size: 103%;
    margin: 10%;
    line-height: 125%;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  #name {
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  #mail {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 30px;
  }

  #msg {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
  }

  #bttn {
    background-color: #9390ff;
    position: relative;
    width: 25%;
    margin-top: 10%;
    border: none;
    margin-left: 38%;
    font-size: 70%;
    height: 40px;
  }

  .cont-line {
    position: relative;
    background-color: rgb(39, 42, 42);
    height: 2px;
    width: 100%;
    margin-top: 15%;
  }

  .icons-M {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    list-style: none;
  }

  .my-mail {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .feet {
    display: none;
  }
}
