.contact {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.conta {
  color: #9390FF;
  text-align: center;
  margin-left: -5%;
  margin-top: 15%;
  font-size: 200%;
}

.cont-text {
  color: rgb(227, 223, 223);
  font-size: 103%;
  margin: 5%;
  line-height: 125%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

#name {
  width: 90%;
  height: 30px;
  margin-left: 5%;
  margin-bottom: 5%;
}

#mail {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: 30px;
}

#msg {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
}

#bttn {
  background-color: #9390FF;
  position: relative;
  width: 100px;
  margin-top: 10%;
  border: none;
  font-size: 70%;
  height: 40px;
}

.button {
  align-self: center;
}

.cont-line {
  position: relative;
  background-color: rgb(39, 42, 42);
  height: 2px;
  width: 100%;
  margin-top: 15%;
}

.icons {
  color: white;
  list-style: none;
}

.github-icon {
  margin: 0 8px;
}

.linkedIn--icon {
  margin: 0 8px;
}

.peace-icon {
  margin: 0 5px;
}

.twitter-icon {
  margin: 0 1px;
}

.my-mail {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
